[Unit]
Description=ASTRA Entry Node
After=network.target

[Service]
Type=simple
ExecStart=/opt/astra/bin/astra-entry -config /etc/astra/astra-entry.json
Restart=always
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
